body  { background: #333; }
#page-wrap:after  { content: "Smartphone Layout";}

h2 span, section h3, label.rem { display: none; }
body                { font-size: xx-large; }
nav                 { font-size: medium;}
/*input, button       { font-size: x-large;}*/
/* Mio */
.Table               { font-size: medium;}
.divFloat           {font-size: medium;}
.inputstyle         { font-size: medium;}
.buttonstyle        { font-size: medium;}
#ulStatistic        { font-size: medium;margin-left: 40px;}
#divAnswer          { margin: 50px;}
#thacciones         { min-width: 20px;}
#divStatistic       { margin-left: 0%; margin-top: 10%; margin-bottom: 10%; }
#divStatistic h3    { display: true;}
legend, label        { font-size: medium;}
.divShow {font-size: medium; padding: 10px;}
#divCreacion {width: 300px; font-size: medium;}

footer              { font-size: x-large; }


#caja    {font-size: medium;}
td span  {font-size: small}
th span  {font-size: small}
/*.main               { font-size: medium;}*/
section  div        { padding: 0px;}
#divcomentario {font-size: medium;min-width: 90%;}
.divShow {font-size: medium;min-width: 90%;}
