/* para resetear los valores por defecto de los naviegaore*/
*                     { margin: 0; padding: 0; }
body                  { font: 16px Georgia, serif; }
/* page-wrap a toda la página*/
#page-wrap            { margin: 2% auto; color: white; }
#page-wrap > .main    { border: 1px solid #999; padding: 1%;
                        margin-bottom: 1px; color: black;}

section > div         { padding: 20px;}
header, nav, section  { background: #eee; text-align: center;}
footer                { background: #eee; text-align: center;}
/* nav span es el span detras de nav*/
nav span              { margin: 0px 10px 0px 0px;}
#ErrorMsgs            { color: #f61; font-size: smaler}
img                   { max-width: 50%; }
