/* para resetear los valores por defecto de los naviegaore*/
*                     { margin: 0; padding: 0; }
body                  { font: 16px Georgia, serif; }
/* page-wrap a toda la página*/
#page-wrap            { margin: 2% auto; color: white; }
#page-wrap > .main    { border: 1px solid #999; padding: 1%;
                        margin-bottom: 1px; color: black;}

section > div         { padding: 10px;}
header, nav, section  { background: #eee; text-align: center;}
footer                { background: #eee; text-align: center;}
/* nav span es el span detras de nav*/
nav span              { margin: 0px 10px 0px 0px;}
#ErrorMsgs            { color: #f61; font-size: smaler}
img                   { max-width: 50%; }
table                 { border: 1px solid black; border-spacing: 5px;
                        height: auto;}
table.preg            { width: 100%;   }
tr.color              { background-color:#BDBDBD;}
td.tam                { width: 15px;}
tr, td                { padding: 1px; }
label                 {align-items: left;}
/*div                   { margin: .4em 0;}
div .formu            { width: 25%; float: left; }
input                 { padding: .2em;}
legend                { padding: .2em;}
form label            { display: block;}*/
fieldset              { max-width: 50em;}

/*.formu                { display: block; margin: .5em 0 0 0;}
/*div form              { margin: .4em 0;}*/
