/* para resetear los valores por defecto de los naviegaore*/
*                             { margin: 0; padding: 0; }
body                          { font: 16px Georgia, serif; }
/*Nuevo*/
table.rwd_auto                {border: 1px solid #ccc; width: 100% margin:0 0 50px 0;}
      .rwd_auto th            {background: #ccc; padding:5px; text-align: center; min-width: 200px;}
      .rwd_auto td            {border-bottom:1px solid #ccc; padding: 1px; text-align: left;}
      .rwd_auto tr: last-child td {border: 0}

table.rwd_auto                {width: auto; min-width: 100px;}
      .rwd_auto th, .rwd_auto td {white-space: nowrap;}

#caja                         { display: inline-block; float: left; margin: 5px;width: 45%;
                                font-size: large;  margin-left: 25px;}
#acciones                     { padding-top: 20px;}
#thacciones                   { min-width: 20px; }
#logout                       { font-size: small}
#page-wrap                    { margin: 2% auto; color: white; background-color: white;}
/*#page-wrap                    { background-color: white;}*/

#page-wrap > .main            { border: 1px solid #999; padding: 1%;
                                margin-bottom: 1px; color: black;}  /* Letras */
/*section                       { overflow: hidden;}*/
section > div                 { padding: 10px;}
header, nav, section, footer  { background: #eee; text-align: center;}
section                       { overflow: scroll;}
footer                        { background: #eee; text-align: center;}
/* nav span es el span detras de nav*/
nav span                      { margin: 0px 10px 0px 0px;}
#ErrorMsgs                    { color: #f61; font-size: smaler}
.foto                         { max-width: 50%; }
.imgAcciones                  { width:15px; height:15px; }
/*.divFloat                     { float: left; }*/
.inputstyle                   { size: 40px; margin-left: 25px;}
.tdiconos                     { width: 100px;}
button                        { float: left;}
#acciones button              { float: none;}
.divShow label                { font-size: x-large; }
#divCreacion {margin: 4px auto ; width: 400px;}
#divcomentario   button     {float: none;}
.divShow  {display: inline-block; float: left; margin: 10px; width: 40%}
#divcomentario {display: inline-block; float: left; margin: 10px; width: 40%; }
#pcomentarios {padding: 10px; font-size: large;}

fieldset              { max-width: 50em;}
