<fieldset>
      <legend> Creación de Pregunta </legend>
        <div>
        <label for="preg" class="formu" padding=".2em" >Pregunta:</label>
        <input type="text" id="preg" size="40" padding=".2em" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/>
        </div>
        <div>
        <br><label for="resp" class="formu">Respuesta:</label>
        <input type="text" id="resp" size="40" name="quiz[respuesta]" value="<%= quiz.respuesta %>" />
        </div>
        <div><br><p><label for="tema" class="formu">Tema:</label>
        <select name="quiz[tema]" size="1">
          <option value="Otro" selected>Otro</option>
          <option value="Humanidades">Humanidades</option>
          <option value="Ocio">Ocio</option>
          <option value="Ciencia">Ciencia</option>
          <option value="Tecnologia">Tecnología</option>
        </select>
        </div>
        <br><a href="/quizes"><button type="button">Cancelar</button></a>
        <input type="submit" value="Salvar">
        </fieldset>
