<!-- Formulario de la pregunta -->
<div>
 <div class="divShow">
  <form method="get" action="/quizes/<%= quiz.id %>/answer">
    <label> <%= quiz.pregunta %> </label> <p><br>
    <input type="text" name="respuesta" value="Respuesta" />
    <input type="submit" value="Enviar">
  </form>
  <p>
    <br><a href="/quizes">Volver</a>
  </p>
  </div>

  <div id="divcomentario">
    <p id="pcomentarios"><strong>Comentarios:</strong></p>
    <%for(index in quiz.Comments){%>
      <p>- <%=quiz.Comments[index].texto%></p>
    <%}%>

    <%if (session.user){%>
    <br><p><a href="/quizes/<%= quiz.id %>/comments/new">
       <button>Nuevo comentario</button></a>
    </p>
    <%}%>
  </div>


</div>
